.a-link {
    color: inherit;
}

.blog-item {
    list-style-type: none;
    /* for radius  
    border-radius: var(--border-radius-small);
    overflow: hidden;
    */
    max-width: unset;
    border: 5px solid;
    border-color: var(--color-primary);
}

.blog-item[data="hover"] {
    transition: all 0.5s ease;
}

.blog-item-container{
    display: inline-block;
    width: 100%;
    object-fit: cover;
    background-color: var(--color-cards); 
    display: flex;
}

.blog-item-container img {
    width: 30%;
    height: min(15rem, 100vw - var(--space-xl));
    object-fit: cover;
}

.blog-item-container h3, p {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media screen and (max-width: 1000px) {
    .blog-item {
        flex-direction: column-reverse;
    }
}