{% extends "layouts/base.html" %}

{% block css %}
{# THIS IS FROM ABOUT.HTML #}

{# THIS IS FROM ABOUT.HTML #}
{% endblock css %}

{% block content %}

{# START Hero #}
<article class="section">
    <div class="container wrapper flow">
        <h1 class="center">
            We are the AFK Club
        </h1>
        <h2 class="center">
            The student union for FutureGames Umeå
        </h2>
        <div class="center">
            <p>
                this will hold a lot of info that is about us
            </p>
            <p>
                Right now we don't have much, because the website is not finished :[]
            </p>
            <p>
                Comeback when we have more :]
            </p>
        </div>
</article>
{# END Hero #}


{% endblock %}