{% extends "layouts/base.html" %}

{% block css %}
{# THIS IS FROM HOME.HTML #}
<link rel="stylesheet" href="css/blog-post-item.css">
<link rel="stylesheet" href="css/sponsor.css">
{# THIS IS FROM HOME.HTML #}
{% endblock css %}

{% block content %}

{# START Hero #}
<article class="hero section">
	<div class="hero-content container wrapper flow">
		<h1 class="">
			{{ title }}
		</h1>
</article>
{# END Hero #}

{# START Mission Statement #}

<section class="section mission-statement">
	<div class="container flow side-by-side">
		<div>
			<img src="images/frog.jpg" alt="">
		</div>
		<div>
			<h3>
				Our Mission ...
			</h3>
			<div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
					and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
					leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
					with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
					publishing software like Aldus PageMaker including versions of Lorem Ipsum </p>
			</div>
		</div>
	</div>

</section>

{# END Mission Statement #}

{# START Sponsors #}
<section class="section">
	<div class="container flow">
		<h3 class="section center">Sponsors</h3>
		{% include "partials/sponsor-item.html" %}
	</div>
</section>
{# END Sponsors #}


{# START Articles #}
<section class="section">
	<div class="container flow">
		<h3 class="center">
			Articles
		</h3>
		<ul class="wrapper grid" role="list" data-rows="masonry" data-layout="50-50">
			<li class="list-container flow">
				{% set blogItemContent = testBlogItem %}
				{% include "partials/blogItem.html" %}
			</li>
			{%- for post in collections.post | reverse -%}
			<li class="list-container flow">
				{% set blogItemContent = post.data.blogItem %}
				{% include "partials/blogItem.html" %}
			</li>
			{%- endfor -%}
		</ul>
	</div>
	<div class="section"></div>
</section>
{# END Articles #}


{% endblock %}