<footer class="section">
    <div class="footer-content container">
        <div>
            <h3>
                Contact Information
            </h3>
            <p>
                Email: <b><a href="mailto:FakeEmail@xyz.xyz">FakeEmail@xyz.xyz</a></b>
            </p>
            <p>
                Number: +46 72 781 XX XX
            </p>
        </div>
        <div>
            <h3>
                Follow Oss
            </h3>
            <div class="social-media">
                {% for item in socialmedia.items %}
                <a href="{{ item.url }}">
                    <img src="images/social-media/{{ item.logo }}" alt="{{ item.name }}">
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

</footer>